.channel-floor {
  width: 100%;
  min-width: 1200px;
}
.layout {
  width: 1200px;
  margin: 0 auto;
}
.layout:before,
.layout:after {
  content: "";
  display: table;
}
.layout:after {
  clear: both;
}
.index-channel-floor .ad {
  width: 100%;
}
.index-channel-floor .ad img {
  border-radius: 10px;
  vertical-align: top;
  width: 100%;
}
.hr {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 60px;
}
.slogan-container {
  background: #f9f9f9;
  width: 100%;
  min-width: 1200px;
}
.slogan {
  padding: 22px 0 20px;
  width: 1200px;
  margin: 0 auto;
}
.slogan ul:before,
.slogan ul:after {
  content: "";
  display: table;
}
.slogan ul:after {
  clear: both;
}
.slogan li:first-child {
  padding-right: 120px;
}
.slogan li {
  display: table-cell;
  font-size: 18px;
  color: #333;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}
.slogan li i {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  background: url(../img/icon01.svg) no-repeat;
}
.slogan .s1 i {
  background-position: -74px 0;
}
.slogan .s2 i {
  background-position: -154px 0;
}
.slogan .s3 i {
  background-position: -194px 0;
}
.slogan .s4 i {
  background-position: -114px 0;
}
.slogan li:first-child + li {
  padding-right: 120px;
}
.slogan li:first-child + li + li {
  padding-right: 120px;
}
.service-container {
  background: #f9f9f9;
  width: 100%;
  min-width: 1200px;
}
.service {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 23px 0 24px;
  width: 1200px;
  margin: 0 auto;
}
.service:before,
.service:after {
  content: "";
  display: table;
}
.service:after {
  clear: both;
}
.service .service-l {
  width: 920px;
  height: 155px;
  padding-top: 5px;
  border-right: 1px solid #e5e5e5;
}
.service .service-l dl {
  width: 16.66667%;
}
.service dl {
  float: left;
}
.service dt {
  font-size: 14px;
  color: #3a3a3a;
}
.service dt .title {
  font-size: 14px!important;
  padding-bottom: 7px;
  color: #333;
  display: block;
  border-left: none;
  padding-left: 0;
  line-height: 1.5 !important;
  margin-bottom: 0!important;
}
.service dd li {
  line-height: 22px;
  color: #777;
}
.service dt .button {
  position: absolute;
  left: 62px;
  bottom: 5px;
}
.service dt .btn.disabled {
  cursor: not-allowed;
}
.service dt .btn {
  display: inline-block;
  width: 10px;
  height: 14px;
  margin-right: 4px;
  text-indent: -999px;
  overflow: hidden;
}
.service dt .btn:before {
  content: "";
  position: relative;
  display: block;
  text-indent: 0;
  width: 10px;
  height: 14px;
  background: url(../img/icon03.svg) no-repeat;
}
.service dt .btn.disabled.btn-prev:before {
  background-position: -96px 0;
}
.service dt .btn.btn-next:before {
  background-position: -66px 0;
}
.service dl.s6 dd {
  height: 115px;
  width: 100%;
  overflow: hidden;
}
.service dl.s6 dd ol {
  width: 158px;
  float: left;
}
.service dl.s6 dd li {
  width: 158px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.service .service-r {
  width: 278px;
  min-height: 160px;
  margin-top: 2px;
  text-align: center;
}
.service .service-r .s7 {
  width: 279px;
}
.service dl.s7 .title {
  font-size: 24px!important;
  padding: 0;
}
.service .service-r .title {
  color: #575757;
  font-weight: bold;
}
.service .service-r .s7 dd {
  font-size: 14px;
  color: #333;
}
.service dd a.service-btn {
  color: #fff;
}
.service-btn {
  display: block;
  width: 170px;
  height: 34px;
  padding: 0;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 14px;
  line-height: 34px;
  background: #333;
  cursor: pointer;
  border-radius: 17px;
}
.service-btn i {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 6px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.service-btn i:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/icon03.svg) no-repeat;
  background-position: -106px 0;
  position: relative;
  top: -2px;
}
.service-code {
  float: left;
  width: 250px;
  margin-top: 26px;
  margin-left: 40px;
}
.service-code h2 {
  font-size: 14px;
  color: #333;
  float: left;
}
.service-code ul {
  float: left;
  margin-left: 3px;
}
.service-code li {
  width: 24px;
  height: 24px;
  margin-right: 11px;
  position: relative;
  float: left;
}
.service-code li a {
  display: block;
  width: 24px;
  height: 24px;
  text-indent: -999px;
  overflow: hidden;
  background: url(../img/icon03.svg) no-repeat;
}
.service-code li:first-child a {
  background-position: -126px 0;
}
.service-code li:first-child + li a {
  background-position: -150px 0;
}
.service-code li:first-child + li + li a {
  background-position: -174px 0;
}
.service-code li:first-child + li + li + li a {
  background-position: 0 -36px;
}
.footer-container {
  background: #f9f9f9;
  width: 100%;
  min-width: 1200px;
}
.footer {
  padding: 25px 0 28px;
  width: 1200px;
  margin: 0 auto;
  color: #666;
  line-height: 1.5;
}
.footer-warrant-area {
  text-align: left;
  color: #a4a4a4;
  line-height: 20px;
}
.footer-warrant-area .footer-warrant-logo {
  width: 82px;
  height: 20px;
  padding: 3px 20px 0 0;
}
.footer-warrant-area .footer-warrant-logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.footer-warrant-area .footer-warrant-logo img {
  vertical-align: top;
  width: 82px;
  height: 20px;
}
.footer-warrant-link {
  margin-top: 3px;
  margin-bottom: 6px;
}
.footer-warrant-link:before,
.footer-warrant-link:after {
  content: "";
  display: table;
}
.footer-warrant-link:after {
  clear: both;
}
.footer-warrant-link li {
  float: left;
  line-height: 1;
  padding-right: 6px;
  border-right: 1px solid #d3d3d3;
  margin-right: 6px;
}
.footer-warrant-link li:last-child {
  border: 0;
  margin-right: 0;
  padding-right: 0;
}
.footer-warrant-area a {
  color: #a4a4a4;
}
.footer-warrant-area em {
  padding-right: 3px;
  margin-left: 3px;
}
.footer-warrant-area .footer-warrant-img {
  margin-top: 2px;
}
.footer-warrant-area .footer-warrant-img a {
  display: block;
  width: 70px;
  margin-left: 17px;
  height: 24px;
}
.footer-warrant-area .footer-warrant-img img {
  vertical-align: top;
  width: 70px;
  height: 24px;
}
