.channel-container{
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
}
// 商品1
.channel-container .layout{
    width: 1200px;
    margin: 0 auto;
}
.layout:before, .layout:after{
    content: "";
    display: table;
}
.layout:after{
    clear: both;
}
// 头部
.channel-floor .h{
    margin: 27px 0 12px;
    overflow: hidden;
    line-height: 32px;
    position: relative;
}
.channel-floor .channel-title{
    font-size: 26px;
    color: #333;
}
.channel-floor .channel-nav{
    margin-left: 28px;
    max-width: 950px;
    height: 32px;
    overflow: hidden;
}
.channel-floor .channel-nav li{
    float: left;
    font-size: 12px;
}
.channel-floor .channel-nav a{
    font-size: 14px;
    color: #999;
    margin-left: 0;
    margin-right: 24px;
    line-height: 32px;
    display: inline-block;
    position: relative;
}
.channel-floor .channel-nav li a:after{
    content: '';
    width: 0;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 2px;
    background: #ca151d;
}
.index-channel-floor .channel-more{
    height: 32px;
}
.channel-floor .channel-more{
    text-align: center;
}
.index-channel-floor .channel-more a{
    font-size: 14px;
    color: #333;
    padding-right: 10px;
}
.index-channel-floor .channel-more a:after{
    content: "";
    display: inline-block;
    width: 18px;
    height: 14px;
    background: url(../img/icon03.svg) no-repeat;
    background-position: -48px 0;
    position: relative;
    top: 2px;
}
// 商品1-内容
.index-channel-floor .b {
    height: auto;
}
.index-channel-floor .goods-list .grid-list {
    margin: 0 0 0 -10px;
}
.index-channel-floor .grid-list .grid-item {
    position: relative;
    float: left;
    height: 290px;
    width: 230px;
    border-radius: 10px;
    margin-left: 12px;
    margin-bottom: 12px;
    margin-top: 0;
    transition: all .2s linear 0s;
    z-index: 1;
}
.index-channel-floor .grid-item-md {
    background: #fff;
}
.index-channel-floor .grid-item-md .thumb {
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 100%;
}
.index-channel-floor .grid-item-md img {
    width: 230px;
    height: 290px;
    border-radius: 10px;
}
.channel-floor .grid-item-lg{
    width: 472px !important;
    background: #fff;
}
.channel-floor .grid-item-lg img {
    width: 472px;
    height: 290px;
    border-radius: 10px;
}
// 商品内的轮播图
.hit{
    width: 1212px !important;
    height: 240px !important;
}
.hit .hot{
    width: 202px !important;
    height: 240px !important;
}
.hit .hot .hat{
    height: 156px !important;
    width: 190px !important;
    padding-top: 34px !important;
    background: #f9f9f9 !important;
    box-shadow: none !important;
}
.hit .hot .hat .het{
    width: 120px !important;
    height: 120px !important;
    margin-bottom: 0 !important;
}
.hit .hot .hat .het img{
    width: 120px !important;
    height: 120px !important;
}
.hit .hot .grid-title{
    width: 170px;
    height: 21px;
    line-height: 21px;
    margin-top: 8px;
    display: block;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hit .hot .grid-desc{
    width: 170px;
    top: 158px;
    line-height: 32px;
    height: 32px;
    background: #f3f3f3;
    color: #777;
    font-size: 12px;
    margin: 0;
    padding: 0 10px;
    border-radius: 0 0 10px 10px;
    position: absolute;
    left: 6px;
}
// 广告图
.channel-floor {
    background: #fff;
    width: 100%;
    min-width:1200px;
}
.layout{
    width: 1200px;
    margin: 0 auto;
}
.layout:before, .layout:after {
    content: "";
    display: table;
}
.layout:after {
    clear: both;
}
.slider-img{
    width: 1200px;
    height: 120px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
}
.slider-img img{
    border-radius: 10px;
}
